@page "/"
@inherits IndexComponent

<h1>Canvas demo!!!</h1>

<a href="/webgl">View WebGL page</a><br>

Welcome to your new app.

<BECanvas Width="1000" Height="800" @ref="_canvasReference" ></BECanvas>
